.cursos {

    .categoria {
        .font-style(@font-weight: 300; @font-size: 3em);
        position: relative;
        background: @unip-yellow;
        padding: 20px;
        margin: 10px auto;

        &:after {
            content: '';
            position: absolute;
            z-index: 1;
            left: 50%;
            top: 50%;
            width: 99%;
            height: 92%;
            .transform(-50%; -50%);
            border: solid 2px @unip-yellow;
        }
        
        &.humanas {
            background: @unip-humanas;
        }
        &.exatas {
            background: @unip-exatas;
        }
    }
    .curso {
        display: block;
        background: fade(lighten(@unip-primary, 10%), 50%);
        border-left: 15px solid @white;
        padding-left: 10px;
        margin: 10px auto;
        line-height: 100px;
        
        &-info {
            display: inline-block;
            line-height: normal;
            vertical-align: middle;
            padding: 10px;
            width: 75%;

            .info-title {
                .font-style(@font-weight: 300; @font-size: 2em);
                border-bottom: solid .1em @unip-yellow;
            }

            span {
                .font-style(@font-weight: 300; @font-size: 1em;);
                display: block;
                white-space: nowrap;

                svg {
                    fill: @unip-yellow;
                    width: 16px;
                    height: 16px;
                    margin-right: 6px;
                }
            }
        }
        &-action {
            display: inline-block;
            line-height: normal;
            vertical-align: middle;
            padding: 7px;

            svg {
                padding: 3px;
                display: block;
                max-width: 45px;
                max-height: 45px;
                border-radius: 100%;
                border: .2em solid @unip-yellow;
                stroke-width: .2em;
                stroke: @white;
            }
        }
        &.humanas {
            border-left-color: @unip-humanas;
        }
        &.exatas {
            border-left-color: @unip-exatas;
        }
    }
}

@media (min-width: @screen-lg) {
    .cursos {

        .curso {
            
            &-info {
                min-width: 650px;

                span {
                    display: inline-block;
                }
            }
        }
    }
}

@media (max-width: 365px) {
    .cursos {

        .curso {
            
            &-info {

                span {
                    white-space: normal;
                }
            }
        }
    }
}