.curso {
    &-img {
        position: absolute;
        z-index: -1;
        width: 100%;
        
        img {
            width: 100%;
        }
    }
    &-info {
        padding: 20px;
        padding-bottom: 60px;
        background: fade(@unip-primary, 50%);

        .info-title {
            .font-style(@font-size: 3em; @font-weight: 100);
            box-sizing: border-box;
            border-bottom: 2px solid @unip-yellow;
        }
        span {
            .font-style(@font-size: 1.2em; @font-weight: 600;);
            display: inline-block;
            margin: 0 10px;
            svg {
                fill: @unip-yellow;
                width: 16px;
                height: 16px;
                margin-right: 6px;
            }
        }
    }

    &-content {
        position: relative;
        background: transparent;
        overflow-y: hidden;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        -webkit-user-select: none;
        margin-top: -40px;
        content {
            display: block;
            padding: 20px; 
            background: @unip-primary;
        }
    }
}

