.hero {
    position: relative;
    margin: 0;
    padding-top: 64px;
    padding-bottom: 0;
    min-height: 100vh;
    background: fade(@unip-primary, 70%);
    background-size: cover;
    color: @unip-primary;
    
    &-content {
        margin: 20px 0;

        .hero-heading {
            max-width: 500px;

            h1 {
                font-weight: 500;
                .font-style(@font-size: 3em);
            }
            h2 {
                font-weight: 300;
                .font-style(@font-size: 1.275em);
            }
            button {
                padding: 0;
                .font-style(@font-size: 1.71em; @font-weight: 100);

                svg {
                    min-width: 32px;
                    min-height: 32px;
                }
            }
        }
        .hero-logo {
            max-width: 280px;
            display: block;
            margin: 0 auto;
            opacity: .6;
        }
    }
    .form-search {
        margin-bottom: 40px;
        line-height: 50px;

        * {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
        }
        input, button[type=submit] {
            background: fade(lighten(@unip-primary, 20%), 90%);
            margin: 5px 0;
        }
        input {
            .font-style(@font-size: 1.14em);
            line-height: 2em;
            max-width: 100%;
            color: @white;
        }
        button[type=submit] {
            
            svg {
                stroke-width: 5px;
                border-width: 2px;
                stroke: @white;
                width: 32px;
                height: 32px;
            }
        }
    }
}

@media (min-width: @screen-md) {
    .hero {

        &-content {

            .hero-logo {
                max-width: 600px;
            }
        }

        .form-search {

            input {
                min-width: 400px;
            }
        }
    }
}